/*
 * Cornix keymap - ported from your previous keyboard
 * Extra outer columns are set to &none.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/behaviors.h>
#include <dt-bindings/zmk/mouse.h>

// -------------------------
// Layer defines (same as before)
// -------------------------
#define DEFAULT_WIN 0
#define DEFAULT_MAC 11
#define DEFAULT_IPAD 12
#define CONTROL 1
#define NUMBER 2
#define MOUSE 3
#define ARROW 4
#define FUNCTION 5
#define SDVX 6
#define SDVX2 7
#define MOUSE3 8
#define MOUSE4 9
#define FPS 10

// -------------------------
// JP key conversion (same as before)
// -------------------------
#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

/ {
    behaviors {
        sl_mouse: sticky_layer_for_mouse {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&mo>;
            release-after-ms = <200>;
            quick-release;
            ignore-modifiers;
        };

        colon_semi: colon_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp JP_COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        long_mt: long_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        long_lt: long_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };

        sks: sticky_key_short {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <200>;
            quick-release;
            ignore-modifiers;
        };

        kt_on: key_toggle_on_only {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            display-name = "Key Toggle On";
            toggle-mode = "on";
        };

        kt_off: key_toggle_off_only {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
            display-name = "Key Toggle Off";
            toggle-mode = "off";
        };

        rot_long: rot_long {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&sks>, <&sks>;
        };

        rot_long_right: rot_long_right {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&change_direction L SEMICOLON>, <&change_direction SEMICOLON L>;
        };

        rot_long_left: rot_long_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&change_direction A S>, <&change_direction S A>;
        };
        enc_hold_l: enc_hold_l {
            compatible = "zmk,behavior-sensor-hold-rotate";
            #sensor-binding-cells = <0>;
            timeout-ms = <200>;
            bindings = <&kp A &kp S>;
        };
        enc_hold_r: enc_hold_r {
            compatible = "zmk,behavior-sensor-hold-rotate";
            #sensor-binding-cells = <0>;
            timeout-ms = <200>;
            bindings = <&kp L &kp SEMICOLON>;
        };
        rot_mmv: rot_mmv {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mmv>, <&mmv>;
        };

        rck: refcount_key {
            compatible = "zmk,behavior-refcount-key";
            #binding-cells = <1>;
        };

        enc_alt_tab: enc_alt_tab {
            compatible = "zmk,behavior-sensor-hold-step-rotate";
            #sensor-binding-cells = <0>;

            timeout-ms = <1000>;
            step-group-size = <5>;
            direction-hold-mode = <1>;

            bindings = <
                &kp LALT   /* hold_cw  */
                &kp LALT   /* hold_ccw */
                &kp TAB    /* step_cw  */
                &kp LS(TAB)    /* step_ccw */
            >;
        };

        enc_val0: enc_val0 {
            compatible = "zmk,behavior-sensor-value-adjust";
            #sensor-binding-cells = <0>;

            bindings = <&none &none>;

            index = <0>;
            min = <0>;
            max = <100>;
            step = <5>;
            ticks-per-step = <2>;
        };

        mmv_val0: mmv_val0 {
            compatible = "zmk,behavior-mouse-move-value";
            #binding-cells = <1>;
            binding = <&mmv>;
            index = <0>;

            value-min = <0>;
            value-max = <100>;
            min-speed = <200>;
            max-speed = <3000>;
            trigger-period-ms = <40>;
        };

        mmv_fix: mmv_fix {
            compatible = "zmk,behavior-mouse-move-fixed";
            #binding-cells = <1>;
            speed = <1200>;
            trigger-period-ms = <20>;
        };



        enc_mmv_hold_l: enc_mmv_hold_l {
            compatible = "zmk,behavior-sensor-hold-rotate";
            #sensor-binding-cells = <0>;
            timeout-ms = <60>;              // ここは好み
            bindings = <&mmv MOVE_RIGHT &mmv MOVE_LEFT>;
        };

        enc_mmv_hold_r: enc_mmv_hold_r {
            compatible = "zmk,behavior-sensor-hold-rotate";
            #sensor-binding-cells = <0>;
            timeout-ms = <60>;
            bindings = <&mmv MOVE_DOWN &mmv MOVE_UP>;
        };

    };

    macros {
        kill_to_end: kill_to_end {
            label = "KILL_TO_END";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LSHFT>
                , <&macro_tap &kp END>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp DEL>
                ;
        };

        kill_to_start: kill_to_start {
            label = "KILL_TO_START";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LSHFT>
                , <&macro_tap &kp HOME>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp DEL>
                ;
        };

        kill_prev_word: kill_prev_word {
            label = "KILL_PREV_WORD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp DEL>
                ;
        };

        click_and_exit: click_and_exit {
            label = "CLICK_AND_EXIT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &mkp MB1>
                , <&macro_pause_for_release>
                , <&macro_release &mkp MB1>
                , <&macro_tap &to 0>
                ;
        };

        click_and_exit2: click_and_exit2 {
            label = "CLICK_AND_EXIT2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &mkp MB1>
                , <&macro_pause_for_release>
                , <&macro_release &mkp MB1>
                , <&macro_tap &to 0>
                , <&macro_tap &sl_mouse 8>
                ;
        };

        ime_hira: ime_hira { label = "IME_HIRA"; compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_tap &kp F6>; };
        ime_kata: ime_kata { label = "IME_KATA"; compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_tap &kp F7>; };
        ime_hw_kata: ime_hw_kata { label = "IME_HW_KATA"; compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_tap &kp F8>; };
        ime_fw_alnum: ime_fw_alnum { label = "IME_FW_ALNUM"; compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_tap &kp F9>; };
        ime_hw_alnum: ime_hw_alnum { label = "IME_HW_ALNUM"; compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&macro_tap &kp F10>; };

        move_prev_word: move_prev_word {
            label = "MOVE_PREV_WORD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LCTRL>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LCTRL>
                ;
        };

        move_next_word: move_next_word {
            label = "MOVE_NEXT_WORD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LCTRL>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LCTRL>
                ;
        };

        change_direction: change_direction {
            label = "CHANGE_DIRECTION";
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings =
                <&macro_param_2to1>
                , <&macro_press &kt_off 0>
                , <&macro_param_1to1>
                , <&macro_press &kt_on 0>
                , <&macro_param_1to1>
                , <&macro_press &kt_off 0>
                ;
        };

    };
    combos {
    compatible = "zmk,combos";

    // (E + R) -> {
    combo_lbrace {
        timeout-ms = <50>;
        key-positions = <3 4>;        // LT2(E)=3, LT1(R)=4
        bindings = <&kp JP_LBRACE>;
        layers = <DEFAULT_WIN>;
    };

    // (U + I) -> }
    combo_rbrace {
        timeout-ms = <50>;
        key-positions = <7 8>;        // RT1(U)=7, RT2(I)=8
        bindings = <&kp JP_RBRACE>;
        layers = <DEFAULT_WIN>;
    };

    // (D + F) -> (
    combo_lparen {
        timeout-ms = <50>;
        key-positions = <15 16>;      // LM2(D)=15, LM1(F)=16
        bindings = <&kp JP_LPAREN>;
        layers = <DEFAULT_WIN>;
    };

    // (J + K) -> )
    combo_rparen {
        timeout-ms = <50>;
        key-positions = <19 20>;      // RM1(J)=19, RM2(K)=20
        bindings = <&kp JP_RPAREN>;
        layers = <DEFAULT_WIN>;
    };

    // (C + V) -> [
    combo_lbracket {
        timeout-ms = <50>;
        key-positions = <27 28>;      // LB2(C)=27, LB1(V)=28
        bindings = <&kp JP_LBRACKET>;
        layers = <DEFAULT_WIN>;
    };

    // (M + ,) -> ]
    combo_rbracket {
        timeout-ms = <50>;
        key-positions = <33 34>;      // RB1(M)=33, RB2(,)=34
        bindings = <&kp JP_RBRACKET>;
        layers = <DEFAULT_WIN>;
    };

    // (L + Space) -> ; / : (shiftで切替)  ※あなたの colon_semi を使用
    combo_colon_semi {
        timeout-ms = <50>;
        key-positions = <21 22>;      // RM3(L)=21, RM4(あなたのSpaceキー)=22
        bindings = <&colon_semi>;
        layers = <DEFAULT_WIN>;
    };

    // (LCTRL + TAB) -> 英数 (LANG2)
    //  下段の配置を「… LALT, LCTRL, (NUMBER/TAB) …」にしている前提
    combo_eisu2 {
        timeout-ms = <50>;
        key-positions = <41 42>;      // LH2(LCTRL)=41, LH1(TAB)=42
        bindings = <&kp LANG2>;
        layers = <DEFAULT_WIN>;
    };

    // (Space + Enter) -> かな (LANG1)
    //  下段の配置を「… (NUMBER/SPACE), ENTER …」にしている前提
    combo_kana2 {
        timeout-ms = <50>;
        key-positions = <45 46>;      // RH1(SPACE)=45, RH2(ENTER)=46
        bindings = <&kp LANG1>;
        layers = <DEFAULT_WIN>;
    };
    sdvx_esc {
        timeout-ms = <50>;
        key-positions = <43 44>;      // RH1(SPACE)=45, RH2(ENTER)=46
        bindings = <&kp ESC>;
        layers = <SDVX SDVX2>;
    };
    sdvx_end {
        timeout-ms = <50>;
        key-positions = <41 46>;      // RH1(SPACE)=45, RH2(ENTER)=46
        bindings = <&to DEFAULT_WIN>;
        layers = <SDVX SDVX2>;
    };
    sdvx_start {
        timeout-ms = <50>;
        key-positions = <38 49>;      // RH1(SPACE)=45, RH2(ENTER)=46
        bindings = <&kp ENTER>;
        layers = <SDVX2>;
    };
    };


    keymap {
        compatible = "zmk,keymap";

        /* -------------------------
         * Layer 0: DEFAULT_WIN (Base)
         * Cornix: 12 / 12 / 14 / 12
         * outer extra columns => &none
         * ------------------------- */
        default_layer {
            bindings = <
                /* row1 (12) */
                &none         &kp Q      &kp W     &kp E     &kp R        &kp T      &kp Y     &kp U        &kp I      &kp O      &kp P      &none

                /* row2 (12) */
                &none         &lt CONTROL A      &kp S     &kp D     &kp F        &kp G      &kp H     &kp J        &kp K      &kp L      &lt ARROW SPACE   &to MOUSE

                /* row3 (14) : keep center 2x &none */
                &none         &long_mt LSHFT Z      &kp X     &kp C     &kp V        &kp B      &none  &none  &kp N     &kp M        &kp COMMA  &mt LCTRL DOT    &kp RSHFT  &none

                /* row4 (12) */
                &none         &mo FUNCTION  &kp LALT  &kp LCTRL  &lt NUMBER  TAB   &kp RCMD   &kp BSPC  &lt NUMBER SPACE   &kp ENTER  &kp RCTRL  &kp ESC   &none
            >;
            sensor-bindings = <&enc_alt_tab &enc_alt_tab>;
        };

        /* Layer 1: CONTROL */
        layer1 {
            label = "CONTROL";
            bindings = <
                &none   &move_prev_word     &kill_prev_word  &kp END          &move_next_word      &kp QUESTION     &trans             &kill_to_start      &trans             &kp JP_UNDERSCORE  &kp UP      &none
                &none   &trans              &trans           &kp DEL          &kp RIGHT            &kp EXCL         &kp BSPC           &kp ENTER           &kill_to_end       &kp MINUS          &kp JP_TILDE &none
                &none   &trans              &kp SLASH        &kp JP_PIPE      &kp JP_YEN           &kp LEFT         &none  &none  &kp DOWN         &kp ENTER           &kp JP_DQUOTE      &kp JP_QUOTE &kp JP_BACKQUOTE &none
                &none   &trans              &trans           &kp LC(X)        &kp LC(C)            &kp LC(V)        &kp LC(Z)          &kp LC(Y)           &kp LC(LS(Z))      &trans             &trans      &none
            >;
            sensor-bindings = <&enc_hold_l &enc_hold_r>;
        };

        /* Layer 2: NUMBER */
        layer2 {
            label = "NUMBER";
            bindings = <
                &none   &trans   &kp N1   &kp N2   &kp N3     &kp DOLLAR     &kp LT    &kp EXCL      &kp QUESTION   &kp JP_CARET   &kp JP_AT   &none
                &none   &kp DOT  &kp N4   &kp N5   &kp N6     &kp JP_COLON   &kp JP_EQUAL &kp JP_PLUS &kp MINUS     &kp JP_ASTERISK &kp SLASH  &none
                &none   &kp COMMA &kp N7  &kp N8   &kp N9     &kp SEMICOLON  &none  &none  &kp GT    &kp JP_AMPERSAND &kp JP_PIPE  &kp PERCENT &kp JP_YEN &none
                &none   &trans   &trans   &kp N0   &kp HASH   &trans         &trans   &trans        &trans         &trans         &trans      &none
            >;
        };

        /* Layer 3: MOUSE (rewrite) */
        layer3 {
        label = "MOUSE";

        // ★追加：左右エンコーダの割り当て（左=X、右=Y）
        // 左: CW→右, CCW→左 / 右: CW→下, CCW→上
        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &enc_val0>;

        bindings = <
            /* row1 (12) */
            &none      &trans      &kp LG(TAB)           &mmv_val0 MOVE_UP        &trans        &trans      &trans        &trans          &trans        &trans        &trans     &none

            /* row2 (12) */
            &none      &trans      &mmv_val0 MOVE_LEFT &mmv_val0 MOVE_DOWN &mmv_val0 MOVE_RIGHT     &trans   &trans      &mkp LCLK     &mkp MCLK        &mkp RCLK     &trans       &none

            /* row3 (14) */
            &none      &trans      &trans        &trans        &trans        &trans      &none  &mkp LCLK  &trans        &kp C_AC_BACK       &kp C_AC_REFRESH    &kp C_AC_FORWARD      &trans     &none

            /* row4 (12) */
            &none      &to DEFAULT_WIN  &trans    &trans &trans &trans      &trans        &trans          &trans        &trans        &trans     &none
        >;
        };

        /* Layer 4: ARROW */
        layer4 {
            label = "ARROW";
            bindings = <
                &none  &trans  &move_prev_word  &kp UP   &move_next_word  &trans        &trans        &trans        &ime_hw_kata  &trans  &trans  &none
                &none  &kp HOME &kp LEFT        &kp DOWN &kp RIGHT        &kp END       &ime_fw_alnum &ime_hira     &ime_kata     &ime_hw_alnum &trans &none
                &none  &trans  &trans           &trans   &trans           &trans        &none  &none  &trans        &trans        &trans  &trans  &trans &none
                &none  &trans  &trans           &trans   &trans           &trans        &trans        &trans        &trans        &trans  &trans  &none
            >;
        };

        /* Layer 5: FUNCTION */
        layer5 {
            label = "FUNCTION";
            bindings = <
                &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &none
                &none  &to DEFAULT_WIN &to SDVX     &to SDVX2        &trans        &bt BT_CLR      &kp F6  &kp F7  &kp F8  &kp F9  &kp F10 &none
                &none  &trans        &trans        &trans        &trans        &bt BT_CLR_ALL  &none  &none  &kp F11 &kp F12 &trans  &trans  &trans &none
                &none  &trans        &trans        &trans        &trans        &trans          &kp DEL &trans  &trans  &trans  &trans  &none
            >;
        };

        /* Layer 6: SDVX */
        layer6 {
            label = "SDVX";
            bindings = <
                &rck C  &rck C  &rck C  &rck C  &rck C  &rck C             &rck M &rck M &rck M &rck M &rck M &rck M
                &rck F  &rck F &rck F  &rck D &rck D &rck D               &rck K &rck K &rck K &rck J &rck J &rck J
                &rck F  &rck F &rck F &rck D &rck D &rck D   &none &none &rck K &rck K &rck K &rck J &rck J &rck J
                &rck ENTER &rck ENTER &rck ENTER &none &none &none                &none &none &none &rck ENTER &rck ENTER &rck ENTER 
            >;
            sensor-bindings = <&enc_hold_l &enc_hold_r>;
        };

        /* Layer 7: MOUSE2 */
        layer7 {
            label = "SDVX2";
            bindings = <
                &kp C  &kp C  &kp C  &kp D &kp D &kp D             &kp K &kp K &kp K &kp M &kp M &kp M
                &kp F  &kp F &kp F  &kp D &kp D &kp D               &kp K &kp K &kp K &kp J &kp J &kp J
                &kp F  &kp F &kp F &kp D &kp D &kp D   &none &none &kp K &kp K &kp K &kp J &kp J &kp J
                &kp F  &kp F &kp F &kp ENTER &kp ENTER &kp ENTER                &kp ENTER &kp ENTER &kp ENTER &kp J &kp J &kp J 
            >;
            //sensor-bindings = <&rot_long_left &rot_long_right>;
            sensor-bindings = <&rot_long A S &rot_long L SEMICOLON>;
        };

        /* Layer 8: MOUSE3 */
        layer8 {
            label = "MOUSE3";
            bindings = <
                &none  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &none
                &none  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &none
                &none  &trans &trans &trans &trans &trans   &none &none &trans &trans &trans &trans &trans &none
                &none  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &none
            >;
        };

        /* Layer 9: MOUSE4 */
        layer9 {
            label = "MOUSE4";
            bindings = <
                &none  &kp LALT     &kp LG(TAB)  &kp LG(E)        &kp LG(D)       &trans      &trans           &click_and_exit2   &mkp MB3        &mkp MB2         &kp RALT      &none
                &none  &kp LSHFT    &trans       &trans           &kp LS(LG(S))   &trans      &mkp MB1         &kp C_AC_BACK      &kp C_AC_REFRESH &kp C_AC_FORWARD &to DEFAULT_WIN &none
                &none  &trans       &trans       &trans           &trans          &trans      &none &none &trans               &trans           &trans          &trans          &trans         &none
                &none  &kp LSHFT    &trans       &trans           &kp LALT         &kp LSHFT   &kp LSHFT        &kp LCTRL          &kp RALT         &to DEFAULT_WIN  &kp RALT       &none
            >;
        };

        /* Layer 10: FPS (blank as before) */
        layer10 {
            label = "FPS";
            bindings = <
                &none  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &none
                &none  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &none
                &none  &trans &trans &trans &trans &trans   &none &none &trans &trans &trans &trans &trans &none
                &none  &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &none
            >;
        };
    };
};
